---
- name: "update apt packages."
  become: yes
  apt:
    update_cache: yes

- name: "upgrade packages"
  become: yes
  apt:
    upgrade: yes


- name: "settle a virtual environment"
  become: yes
  shell: |
    apt install python3.8-venv -y 
    python3 -m venv ~/.capstone
    source ~/.capstone/bin/activate