version: 2.1

jobs:
  build:
    docker:
      - image: python:3.7.3-stretch
    steps:
      - checkout
      - restore_cache:
          keys: [capstone]
      - run:
          name: install dependencies
          command: |
            pwd
            ls -l
            python3 -m venv venv
            . venv/bin/activate
            make install
      - save_cache:
          paths:
            - ./venv
          key: capstone

  linting-testing:
    docker:
      - image: python:3.7.3-stretch
    steps:
      - checkout
      - restore_cache:
          keys: [capstone]
      - run:
          name: run lint
          command: |
            . venv/bin/activate
            make lint 
      - run:
          name: run test
          command: |
            make test
      - save_cache:
          paths:
            - ./venv
          key: capstone
      

workflows:
  default:
    jobs:
      - build
      - linting-testing:
          requires: [build]