version: 2.1

jobs:
  build-lint:
    docker:
      - image: python:3.7.3-stretch
    steps:
      - checkout
      - restore_cache:
          keys: [capstone]
      - run:
          name: install dependencies
          command: |
            pwd
            ls -l
            python3 -m venv venv
            . venv/bin/activate
            make install
      - run:
          name: linting
          command: |
            make lint
      - save_cache:
          paths:
            - ./venv
          key: capstone

  create-infrastructure:
    docker:
      - image: image: amazon/aws-cli
    steps:
      - checkout
      - restore_cache:
          keys: [capstone]
      - run: yum install -y tar gzip
      - run:
          name: creating infrastructure
          command: |
          aws cloudformation deploy \
              --template-file .circleci/files/Instance_in_public.yml \
              --stack-name "capstone-green-${CIRCLE_WORKFLOW_ID:0:7}" \
              --tags project=capstone-green
      - run:
          name: Add server ip to ansible inventory
          command: |
            aws ec2 describe-instances \
              --query 'Reservations[*].Instances[*].PublicIpAddress' \
              --filters "Name=tag:project,Values=capstone-green" \
              --output text | grep -o '[0-9]\{1,3\}\.[0-9]\{1,3\}\.[0-9]\{1,3\}\.[0-9]\{1,3\}'>> ~/project/.circleci/ansible/inventory.txt
            cat ~/project/.circleci/ansible/inventory.txt 

      

workflows:
  default:
    jobs:
      - build-lint
      - create-infrastructure:
          requires: [build-lint]